name: lint-datapack
on:
  push:
  workflow_dispatch:
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Test
        uses: ChenCMD/datapack-linter@v1
        with:
          outputDefine: public
          notOutputSuccess: true
