name: lint-datapack
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Test
        uses: ChenCMD/datapack-linter@v2
        with:
          muteSuccessResult: true
          ignoreLintPathPattern: |
            animated_java:**

      - name: Checkout Asset2
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/checkout@v3
        with:
          repository: Asset
          ref: master
          path: ./Asset2

      - name: Generate declares.d.mcfunction
        # if: ${{ github.ref == 'refs/heads/main' }}
        run: node ./.github/workflows/make-declares-mcf.js
        env:
          CHECKOUT_PATH: /home/runner/work/TheSkyBlessing/TheSkyBlessing/
          REPOSITORY: ProjectTSB/TheSkyBlessing
          BRANCH: master
          VISIBILITY_FILTER: \*\*|asset:.+
          OUTPUT_PATH: ./Asset2/Asset/data/minecraft/functions/declares.d.mcfunction
          OUTPUT_RESOURCE_PATH: minecraft:declares.d
      # - name: Deploy declares to Asset Repository
      #   if: ${{ github.ref == 'refs/heads/main' }}
      #   uses: actions-js/push@v1.4
      #   with:
      #       github_token: ${{ secrets.GITHUB_TOKEN }}
      #       branch: master
      #       directory: ./Asset2
      #       message: Update Declares from ProjectTSB/TheSkyBlessing@${{ github.SHA}}
